// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";
@import "compass/css3/border-radius";


// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// If you are doing a lot of stylesheet concatenation, it is suggested
// that you scope your blueprint styles, so that you can better control
// what pages use blueprint when stylesheets are concatenated together.
body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form;
  // You'll probably want to remove the scaffolding once you start styling your site.
  @include blueprint-scaffolding; }

// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }


body {
  background:transparent url('../img/bg.png') repeat;
}

.header {
  top: 30px;
  @include container;
  height:100px;
  position: relative;


  .logo {
    background: url("../img/logo.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 50px;
    left: -280px;
    position: relative;
    top: 37px;
    width: 1400px;
  }


}

table {
  border:none;
}

.main {
  position: relative;
  @include container;
  .title {
    display: block;
    height: 50px;
    margin-top: 50px;
    position: relative;
    border-bottom: 2px dashed #333333;
  }
  .consult-title {
    background: url("../img/consult.png") no-repeat scroll 0 0 transparent;
    @extend .title;
  }  
  .infos-title {
    background: url("../img/info.png") no-repeat scroll 0 0 transparent;
    @extend .title;
  }  

  input[type=text] {
    border: 4px solid #000000;
    color: #555555;
    font-size: 30px;
    height: 40px;
    margin: 10px;
    padding: 0 15px;
    font-weight:bold;
    width: 288px;
    @include border-radius(3px);
  }

  .label {
    color: #999999;
    font-size: 20px;
    margin: 0 50px 0 0;
  }
  .dd {
    color: #999;
    font-size: 18px;
    margin: 0 50px 0 0;
  }
  .dt {
    color: #fff;
    font-size: 18px;
  }
  .details {
    tr {
      height: 50px;
    }

    .ui-select {
      font-size: 18px;
      height: 41px;
      width: 400px;
      padding: 5px 9px 6px 10px;
      border: 4px solid #000000;
       @include border-radius(3px);
      option {
        color: #555555;
        font-size: 18px;
        padding: 5px;
      }
    }

    .ui-select-note  {
      @extend .ui-select;
      min-width:50px;
    }
  }
  .btn {
    cursor:pointer;
    border:none;
    height: 57px;
    margin: 10px;
    width:330px;
    background: url("../img/btns.png") no-repeat scroll 0 0 transparent;
    &.consult {
      background-position:0 -111px;
    }
    &.save {
      background-position:0 1px;
    }
    &.return {
      background-position:0 -54px;
    }
  }
}

.right {
  float: right;
  position: relative;
  &.actions {
    .save {
      position: relative;
      right: -13px;
      top: -300px;     
      display:block;
    }
    .return {
      position: relative;
      right: -13px;
      top: -310px;    
      display:block;
    }
    
  }
  
}

.separator {
  border-bottom: 2px dashed #333333;
  display:block;
  height:20px;
  margin: 10px 0;
}

.timeline {
  background: url("../img/timeline.png") repeat-x scroll 0 0 transparent;
  height:280px;
  position: relative;
  margin-top: 150px;
  ul {
    list-style:none;
  }
  .box {
    display: block;
    float: left;
    height: 265px;
    margin: 0 14px;
    position: relative;
    width: 160px;
    background: url("../img/box.png") no-repeat scroll -320px 56px transparent;
    &.current {
      background-position: -158px 56px;
    }
    &.done {
     background-position: 0px 56px; 
    }
    .tip {
      background: none repeat scroll 0 0 #DDDDDD;
      border-radius: 5px 5px 5px 5px;
      bottom: 90px;
      color: #696969;
      font-size: 14px;
      font-weight: bold;
      left: 13px;
      line-height: 22px;
      position: absolute;
      text-align: center;
      width: 135px;
    }
  }

  .car {
    background: url("../img/car.png") no-repeat 0 0 transparent;
    width:175px;
    height:120px;
    display:block;
    position: absolute;
    left:15px; // position by default
    top: -79px;
    &.at-0 {
      left:15px;
    }
    &.at-1 {
      left:203px; 
    }
    &.at-2 {
      left:394px;  
    }
    &.at-3 {
      left:578px; 
    }
    &.at-4 {
      left:768px; 
    }
  }
}

.msg {
  background: none repeat scroll 0 0 #000000;
  @include border-radius(30px);
  color: #fff;
  font-size: 18px;
  line-height: 40px;
  margin-top: 30px;
  padding: 8px 18px;
  position: relative;
  width: 96%;
  .default {
      display: block;
      height: 48px;
      position: absolute;
      right: 5px;
      top: 5px;
      width: 48px;
    }
  &.alert {
    background: none repeat scroll 0 0 #913232;
    
    .icon-e {
      background:transparent url(../img/ok_no.png) -48px -1px no-repeat ;
      @extend .default;      
    }
  }
  &.success {
    background: none repeat scroll 0 0 #32915D;
    .icon-s {
      background:transparent url(../img/ok_no.png) left -1px no-repeat;
      @extend .default;
    }
  }
}